/* DESIGN VARIABLES */
:root {
  --neon-cyan: #00f3ff;
  --neon-purple: #bc13fe;
  --dark-bg: #050811;
  --glass: rgba(255, 255, 255, 0.03);
  --border: rgba(255, 255, 255, 0.1);
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark-bg);
  background-image: 
    radial-gradient(at 0% 0%, rgba(188, 19, 254, 0.1) 0px, transparent 40%),
    radial-gradient(at 100% 100%, rgba(0, 243, 255, 0.1) 0px, transparent 40%);
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* AUTH UI */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glass-card {
  background: var(--glass);
  backdrop-filter: blur(20px);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  /* width: 90%; */
  max-width: 400px;
}

/* DASHBOARD GRID */
.dashboard-container {
  /* max-width: 1100px; */
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden !important;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  text-align: center;
  border-bottom: 2px solid var(--neon-cyan);
}

.stat-card h2 {
  font-size: 2.2rem;
  margin: 10px 0;
  color: var(--neon-cyan);
  text-shadow: 0 0 10px var(--neon-cyan);
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
}

.btn-neon {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, var(--neon-cyan), var(--neon-purple));
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* SNACKBAR */
.snackbar {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--neon-cyan);
  color: black;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 0 30px var(--neon-cyan);
  z-index: 1000;
  animation: slideUp 0.4s ease;
}

/* HISTORY LIST */
.tx-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(255, 255, 255, 0.02);
  margin-bottom: 10px;
  border-radius: 12px;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  .stats-grid { grid-template-columns: 1fr; }
}

@media (max-width: 468px)
{
  html{
    font-size: 90%;
  }
}

@keyframes slideUp { from { bottom: -100px; } to { bottom: 25px; } }